
body {
    margin-top: 0;
    transition: background-color 500ms linear 0s;
    background-color: #fffffffb;
    color: #000;
    font-size: 18px;
}


.logo a img {
    width: 230px;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    image-rendering: -webkit-optimize-contrast;
}

.top-nav-collapse .logo a img {
    width: 172px;
    top: 0;
}

.wow {
    visibility: hidden;
}

a:hover,
a:active,
a:focus {
    outline: 0;
}

a {
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}

button:focus {
    outline: 0 !important;
}

input:focus {
    outline: none !important;
}

.f-none {
    float: none
}

.bg-white {
    background-color: #FFF
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.page-wrap {
    padding: 0;
    padding-top: 147px;
}

.p-null {
    padding: 0
}

.pl-null {
    padding-left: 15px !important;
}

.mob-only {
    display: none;
}

.desc-only {
    display: block
}

.relative {
    position: relative
}

.f-right {
    float: right
}

.f-left {
    float: left
}

.anchor {
    display: block;
    position: relative;
    top: 0;
    visibility: hidden;
}

div.table {
    display: table;
    margin-bottom: 79px;
    line-height: 1.5;
    margin-top: 25px;
    max-width: 554px;
}

div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    padding-right: 20px;
    margin-bottom: 48px;
    padding-bottom: 4px;
    padding-right: 32px;
    vertical-align: top;
}

div.td strong {
    font-weight: 400;
    max-width: 253px;
    display: inline-block;
}

div.td.t-bold {}

div.tr.space-b div.td {
    padding-bottom: 30px;
}

.to-top img {
    position: fixed;
    right: 26px;
    bottom: 54px;
    cursor: pointer;
    display: none;
    z-index: 99;
    width: 43px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.to-top img:hover {
    opacity: 0.6
}

.page-wrap {
    /* max-width: 1920px; */
    margin: 0 auto;
    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); */
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35); */
    z-index: 9;
    position: relative;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

.navbar .container {
    position: relative;
    max-width: 1730px;
}

.navbar-default .navbar-collapse.navbar250 {
    width: 100%;
    /* padding-left: 18px; */
}

.menu-btn-close {
    display: none
}

.menu-btn {
    display: none
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 55px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.c-hamburger:focus {
    outline: 0
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 26px;
    left: 18px;
    right: 18px;
    height: 3px;
    background: #0c0c0c;
}

.c-hamburger span::after,
.c-hamburger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    content: "";
}

.c-hamburger--htla.is-active span::after,
.c-hamburger--htla.is-active span::before,
.c-hamburger--htra.is-active span::after,
.c-hamburger--htra.is-active span::before {
    width: 50%
}

.c-hamburger span::before {
    top: -8px;
}

.c-hamburger span::after {
    bottom: -8px;
}

.c-hamburger--rot {
    background-color: #28aadc
}

.c-hamburger--rot span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.c-hamburger--rot.is-active {
    background-color: #166888
}

.c-hamburger--rot.is-active span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.c-hamburger--htx {
    background-color: transparent;
}

.c-hamburger--htx span {
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s;
}

.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s
}

.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform
}

.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform
}

.c-hamburger--htx.is-active {
    background-color: transparent;
}

.c-hamburger--htx.is-active span {
    background: 0 0;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #101010;
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #000000;
}

.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s
}

.c-hamburger--htla {
    background-color: #32dc64
}

.c-hamburger--htla span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.c-hamburger--htla span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}

.c-hamburger--htla span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}

.c-hamburger--htla.is-active {
    background-color: #18903c
}

.c-hamburger--htla.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.c-hamburger--htla.is-active span::before {
    top: 0;
    -webkit-transform: translateX(38px)translateY(4px)rotate(45deg);
    -ms-transform: translateX(38px)translateY(4px)rotate(45deg);
    transform: translateX(38px)translateY(4px)rotate(45deg)
}

.c-hamburger--htla.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(38px)translateY(-4px)rotate(-45deg);
    -ms-transform: translateX(38px)translateY(-4px)rotate(-45deg);
    transform: translateX(38px)translateY(-4px)rotate(-45deg)
}

.c-hamburger--htra {
    background-color: #ff9650
}

.c-hamburger--htra span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.c-hamburger--htra span::before {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}

.c-hamburger--htra span::after {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}

.c-hamburger--htra.is-active {
    background-color: #e95d00
}

.c-hamburger--htra.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.c-hamburger--htra.is-active span::before {
    top: 0;
    -webkit-transform: translateX(-8px)translateY(4px)rotate(-45deg);
    -ms-transform: translateX(-8px)translateY(4px)rotate(-45deg);
    transform: translateX(-8px)translateY(4px)rotate(-45deg)
}

.c-hamburger--htra.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(-8px)translateY(-4px)rotate(45deg);
    -ms-transform: translateX(-8px)translateY(-4px)rotate(45deg);
    transform: translateX(-8px)translateY(-4px)rotate(45deg)
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #12131D;
}

.se-pre-con .load-logo {}

.se-pre-con .load-logo .part1 img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    width: 151px;
}

.content-full-wrap {
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.paginate {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    font-weight: 700;
    padding-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.paginate span {
    padding: 4px;
    color: #000000;
}

.paginate .current {
    color: #f2d800;
}

.paginate a {
    color: #333333;
    padding: 4px;
}

.paginate a:hover {
    color: #f2d800;
}

.color {
    color: #F2D800;
}

.nav-link {
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin: 6px 10px;
    padding: 30px 13px;
}

.top-nav-collapse .navbar-nav .nav-link {
    padding: 2px 13px;
}

.navbar-nav .nav-link:hover,
.navbar-nav li.active .nav-link,
.navbar-nav li.current-page-ancestor .nav-link,
.navbar-nav li.active>.dropdown-item,
body.single-blog-details .menu-item-34 a {
    color: #F2D800;
}

.navbar-expand-lg .navbar-nav {
    padding-left: 117px;
}

.navbar .icon-right {
    position: absolute;
    right: 0;
    top: -9px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar .icon-right .icon {}

.navbar .icon-right .icon img {
    width: 91px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar.top-nav-collapse .icon-right .icon img {
    width: 48px;
}

.navbar.top-nav-collapse .icon-right {
    top: -22px;
}

.navbar .icon-right .text {
    font-size: 22px;
    font-weight: 700;
    ransform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    right: 75px;
    top: 154px;
    height: 454px;
    width: 300px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar.top-nav-collapse .icon-right .text {
    right: -54px;
    top: 146px;
    height: 54px;
    width: 157px;
    font-size: 12px;
    /* background-color: antiquewhite; */
}

.navbar.top-nav-collapse {
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}


.fixed-top {
    position: fixed;
    top: 54px;
    
}

/******************top icons***************************************/


.page-wrap .top-Icons{
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 111;
    
}
.page-wrap .top-Icons .icon-wrap2 {
    display: flex;
    align-items: center;*/
}

.page-wrap .top-Icons .icon-wrap2 a:hover{
    background: red;
}
.page-wrap .top-Icons .icon-wrap2 .facebook a {
    color: white;
    background: url(img/menu/facebook.svg) no-repeat 14px 5px;
    padding-left: 40px;
    background-size: 16px 17px;
}



.page-wrap .top-Icons .icon-wrap2 .twitter a {
    background: url(img/menu/twitter.svg) no-repeat 22px -3px;
    padding-left: 40px;
    background-size: 18px 33px;
}

.page-wrap .top-Icons .icon-wrap2 .pinterest a {
    background: url(img/menu/pinterest.svg) no-repeat 12px -3px;
    padding-left: 27px;
    background-size: 14px 35px;
}



.page-wrap .top-Icons .icon-wrap2 .instagram a {
    background: url(img/menu/instagram.svg) no-repeat 8px -8px;
    padding-left: 40px;
    background-size: 16px 42px;
}
.page-wrap .top-Icons .icon-wrap2 a{
    color: white;
}

.page-wrap .top-Icons .icon-wrap2 .instagram{
    margin-right: 60px;
}
.page-wrap .top-Icons .icon-wrap2 .user-wrap {
    background-color: red;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    /* margin-left: 50px; */
}
.page-wrap .top-Icons .icon-wrap2 .user-wrap .user {
    background: url(img/menu/user.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    margin: 10px;
}
.page-wrap .top-Icons .icon-wrap1 {
    display: flex;
    /* padding: 5px 15px; */
    align-items: center;
    /* padding-left: 26px; */
    padding: 15px 25px;
}
.page-wrap .top-Icons .icon-wrap1 a{
    font-size:13px;
    color: white;
}
.page-wrap .top-Icons .icon-wrap1 a:hover{
    color: red;
}
.page-wrap .top-Icons .icon-wrap1 .mail a {
    background: url(img/menu/email.svg) no-repeat 7px -7px;
    padding-left: 40px;
    background-size: 18px 33px;
}

.page-wrap .top-Icons .icon-wrap1 .phone a {
    background: url(img/menu/phone.svg) no-repeat 20px -8px;
    padding-left: 40px;
    background-size: 13px 32px;
}

.page-wrap .top-Icons .icon-wrap1 .location a {
    background: url(img/menu/location.svg) no-repeat 16px -8px;
    padding-left: 40px;
    background-size: 13px 34px;
}


@media(min-width:992px) {
   
}




@media(max-height: 800px) {
    
}

@media(max-height: 560px) {
 
}

@media(max-width: 1700px) {}

@media(max-width: 1600px) {
   
}

@media(max-width: 1500px) {
  
}

@media(max-width: 1345px) {
    
}

@media(max-width: 1299px) {
   
}

@media(max-width: 1199px) {
   
}

@media(max-width:1100px) {}

@media(max-width:991px) {
    

    .navbar .icon-right .icon img {
        width: 45px !important;
    }

    .navbar .icon-right {
        right: 57px;
        top: -37px !important;
    }

    .dark-overly {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9;
        top: 0;
        bottom: 0;
        background-color: #000000c4;
        right: -100%;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }

    .dark-overly.active {
        right: 0;
    }

    .fixed-top {
        overflow: inherit;
        background: #fff;
    }

    .navbar {
        padding: 9px 10px !important;
    }

    .navbar.top-nav-collapse .contakt-info,
    .navbar .contakt-info {
        top: 10px;
        right: 70px;
    }

    .logo a img,
    .top-nav-collapse .logo a img {
        width: 91px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative;
        top: 2px;
        left: 0;
    }

    .navbar {
        padding: 7px 10px;
        opacity: 1;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
        height: auto;
    }

    .page-wrap {
        padding-top: 52px;
    }
  

    .navbar .contakt-info .search-part,
    .navbar .contakt-info .icons {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu li.active .dropdown-item {
        color: #b1291c;
    }

    .dropdown-item {
        padding: 3px 14px;
        font-size: 17px;
    }

    .dropdown-menu {
        padding: 0px 0 0px 0;
        position: static !important;
        display: block;
        text-align: left;
    }

    .navbar-nav .nav-link {
        font-size: 18px !important;
        line-height: 1.5;
        background: none !important;
    }

    .top-nav-collapse .navbar-nav .nav-link,
    .navbar-nav .nav-link {
        padding: 11px 20px;
    }

    .navbar-collapse {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .navbar-light .navbar-nav li {
        margin-left: 0px;
    }

    .navbar-expand-lg .navbar-nav {
        padding-left: 5px;
        position: relative;
        z-index: 9;
    }

    .navbar .contakt-info .direct-call a .icon img {
        width: 40px;
        margin: 0 17px;
    }

    .navbar.top-nav-collapse .contakt-info,
    .navbar .contakt-info {
        top: 10px;
        right: 70px;
    }

    .logo a img,
    .top-nav-collapse .logo a img {
        width: 155px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        position: relative;
        top: 0;
        margin-bottom: 0;
    }

    .menu-btn-close img {
        width: 100%;
    }

    .top-nav-collapse .menu-btn {
        /* top: -9px; */
    }

    .menu-btn {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: block;
        /* width: 32px; */
        /* height: 35px; */
        position: absolute;
        right: -13px;
        top: 15px;
        z-index: 999;
        top: -8px;
    }

    .menu-btn.active {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: block;
        width: 61px;
        height: 63px;
        background-size: 61px;
        background-color: transparent;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: transparent;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        overflow-x: hidden;
        padding-top: 19px;
        transition: 0.5s;
        border-top: 0;
        display: block;
        margin-top: 58px;
        margin-bottom: 0;
        padding-top: 19px;
        padding-left: 0;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        padding-bottom: 50px;
        /* min-height: 650px; */
        background-color: #fff;
    }

    .navbar-light #menu-main-menu-2.navbar-nav .current-menu-parent>.nav-link,
    .navbar-light .navbar-nav .active>.nav-link {
        border-bottom: none;
        color: #009fe3;
    }
}

@media(max-width:767px) {
   
}